body{
  background: #1a3263;
}





.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.grid > article{
  margin-left: 50px;
  background-color: #eeeeee;
  height: 50%;
}





.grid > article:hover{
  transition: transform .1s ease-out;
  transform: translateY(5px);
  margin-left: 50px;
}

.grid > article img {
  width: 100%;
}


.text {
  padding: 0 20px 20px;
}

.text > h3{
  text-transform: uppercase;
}

.text > button {
  background: linear-gradient(to right, #f030a7, #f0308d, #f03061);
  border-radius: 3px;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  text-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  text-transform: uppercase;
}


@media (max-width: 768px){
  .grid{
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}

@media (max-width: 500px){
  .grid{
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }

  .grid > article{
    text-align: center;
  }
}
